<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-6" style="text-align:center">

      {{!-- For filter function --}}
      <div class="dropdown">
        <form action="/filter">
          <div class="form-group">
            <h4 class="mb-2">記帳類別</h4>
            <select name="filterBy" id="inputFilter" class="form-control" onchange="action='';submit();">
              <option value="categoryAll" selected>全部記帳明細</option>
              <option value="category-home" {{#if (eq sortBy 'category-home' )}} selected {{/if}}>家居物業</option>
              <option value="category-traffic" {{#if (eq sortBy 'category-traffic' )}} selected {{/if}}>交通出行</option>
              <option value="category-play" {{#if (eq sortBy 'category-play' )}} selected {{/if}}>休閒娛樂</option>
              <option value="category-meal" {{#if (eq sortBy 'category-meal' )}} selected {{/if}}>餐飲食品</option>
              <option value="category-others" {{#if (eq sortBy 'category-others' )}} selected {{/if}}>其他</option>
            </select>
          </div>
        </form>
      </div>

      {{!-- Total Amount Section --}}

      <div class="mt-3">
        <div class="row justify-content-center align-items-center">
          <div class="col total" style="text-align: end;">
            總金額：
          </div>
          <div class="col-8 totalAmount" id="total">
            $ {{totalAmount}}
          </div>
        </div>
      </div>

      {{!-- Expense Details Section --}}
      <table class="table table-striped mt-3">
        <tbody>
          {{#each records}}
          <tr>
            <th scope="row">
              <i class=" {{this.category}} fa-2x"></i>
            </th>
            <td>
              <p>
                {{this.name}}
              </p>
              <span>
                {{this.date}}
              </span>
            </td>
            <td>
              $ {{this.amount}}
            </td>
            <td>
              <a href="../booking/{{this._id}}/edit">
                <input class="btn btn-outline-info" type="submit" value="編輯">
              </a>
            </td>
            <td>
              <form action="/booking/{{this._id}}?_method=DELETE " method="POST">
                <input class="btn btn-outline-danger" type="submit" value="刪除">
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="../booking/new">
        <input class="btn btn-outline-primary" type="submit" value="新增支出">
      </a>
    </div>

    <div class="col"></div>
  </div>
</div>